apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: vote
  name: vote
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vote
  template:
    metadata:
      labels:
        app: vote
    spec:
      {{- if .Values.psp.enabled }}
      serviceAccountName: {{ .Values.vote.serviceAccountName }}
      {{- end }}
      containers:
      - name: vote
        image: {{ .Values.vote.image.repo }}:{{ .Values.vote.image.tag }}
        imagePullPolicy: {{ .Values.vote.image.pullPolicy }}
        ports:
        - containerPort: 80
          name: vote
        resources:
          limits:
            cpu: 200m
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 50Mi